<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>템플릿 layout 페이지</title>

</head>
<body>

<style>
*{
	margin: 0; padding: 0; 
 }

.hearder{
	width: 100vw;
	height: 20vh;
	background-color: aqua;
}

.content{
	width: 100vm;
	height: 70vh;
	background-color: gray;
}
.footer{
	width: 100vm;
	height: 10vh;
	background-color: lime;
}
</style>
<!-- 이 페이지에는 간단한 style과 페이지의 구성항목을 정의하고, 실제 내용은 include함. -->
<th:block th:fragment="setContent(content)">

<div class="header">
	<h1>여긴 헤더</h1>
</div>

<div class="content">
	<th:block th:replace="${content}">
	<h1>여긴 컨텐츠</h1>
	</th:block>
</div>

<div class="footer">
	<h1>여긴 풋터</h1>
</div>

</th:block>	


</body>
</html>